<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ateam05.hotel.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ateam05.hotel.model.domain.SysRole">
        <id column="id" property="id" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="role_description" property="roleDescription" />
    </resultMap>
    <resultMap id="MyResultMap" type="com.ateam05.hotel.model.vo.RoleVo">
        <id column="id" property="id" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="role_description" property="roleDescription" />
        <collection property="list" javaType="com.ateam05.hotel.model.domain.SysPermission">
            <id column="id" property="id" />
            <result column="permission_code" property="permissionCode" />
            <result column="permission_name" property="permissionName" />
        </collection>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select * from sys_role ;
    </select>

    <select id="listPm" resultType="com.ateam05.hotel.model.domain.SysPermission">
       SELECT
        p.*
        FROM
        sys_role AS r
        LEFT JOIN sys_role_permission_relation AS rp
        ON r.id = rp.role_id
        LEFT JOIN sys_permission AS p
        ON p.id = rp.permission_id
        WHERE r.id = #{id}
    </select>

    <select id="select" resultMap="BaseResultMap">
        SELECT * FROM sys_role WHERE id = #{id}
    </select>
    
    <select id="getByRoleName" resultMap="BaseResultMap">
        select * from sys_role where role_name = #{roleName};
    </select>
</mapper>
